html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}


/* .......................Navbar...................... */

.navbar, .container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    
}

.navbar {
    justify-content: space-between;
    padding: 10px;
}

.brand, .nav-link {
    text-transform: uppercase;
    color: #303137;
}
.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
}
span.sensei {
    color: #66B6D3;
}

.brand {
    font-size: 25px;
}

.dropdownLink {
    display: none;
}
.hamburger {
    text-decoration: none;
    color: #303137;
}
#navbar-toggle > li:nth-child(4) {
    padding-right: 30px;
}

/* ..................header..................... */

header {
    display: flex;
    justify-content: center;
}

.headshot-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem 0;
}

.headshot-wrapper img {
    align-self: center;
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}
.headshot-wrapper h1 {
    line-height: 2rem;
}

/* ..................services..................... */

.services {
    background-color: #F1F3Fa; 
    padding: 4rem 1rem;
}

.media-object {
    display: flex;
}

.icon {
    width: 180px;
}

.icon-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.blurb-wrapper {
    flex: 1;
}
.blurb-header {
    font-size: 24px;
    margin-top: 0;
}
.blurb-info {
    color: #646B90;
    font-size: 18px;
}



/*................... Mobile .....................*/

@media (max-width: 768px) {
    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li a.nav-link {
        display: block;
        line-height: 2;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
    }

    #navbar-toggle > li:nth-child(4) {
        padding-right: 0px;
    }

    ul.topnav.responsive li.dropdownLink {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}