@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: #333;
  color: #fff;
}

.content-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  border-bottom: #008ed6 3px solid;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.m0auto {
  margin: 0 auto;
}

.header {
  background: #000000 url(../img/header-img.jpeg) 100% 100% no-repeat;
  height: 400px;
  background-position: center;
}

a {
  color: #fff !important;
}

.page-footer {
  border-top: #008ed6 3px solid;
  background-color: #343a40;
}

footer {
  bottom: 0;
  width: 100%;
}

.footer {
  height: 100px;
  max-width: 80% !important;
  margin: 0 auto;
}

/* .................HOME...................... */

/* .home {
  height: 100%;
} */

.nav-link {
  text-transform: uppercase;
}

.photoView {
  width: 100%;
  height: 80%;
  max-height: 800px;
  text-align: center;
}

.photoViewImg {
  max-width: 100%;
  max-height: 800px;
}

.home-text hr {
  background-color: #fff;
}

.navbar-brand {
  margin-right: 0 !important;
}
.my-modal {
  color: #333;
}
.red {
  color: red;
}
.beforeAfter {
  animation-name: beforeAfter;
  animation-duration: 1.5s;
}
@keyframes beforeAfter {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.nav-item {
  transition: hover 1s;
  -webkit-transition: hover 1s;
  -moz-transition: hover 1s;
  -o-transition: hover 1s;
}

.nav-item:hover {
  /* font-weight: bold; */
  font-size: 1.25rem;
}

.route-selected {
  border-bottom: 3px solid white;
}

footer a:hover {
  text-decoration: none;
}
